@import "variables.css"; /* Import the variables */

td.ie_process_hdr{
    background-color: var(--primaryColor);
    color: var(--txtPrimaryMatch);
}


td.mbtop{
    font-family: 'Cabin';
    font-size: 1rem;
    padding-top: 20px;
}

td.mbbot{
    border: 0 !important;
    font-family: 'NotoSans';
    font-size: .9rem;
}
body>h1{
    margin: 10px 20px 20px 10px;
    background-color: var(--primaryColor);
    padding: 10px;
    color: var(--txtPrimaryMatch);
}

/*Fixing all this tables*/
/*WHO IN THE XXI CENTURY STILL USE TABLES FOR LAYOUT, GOD HELP THIS PERSON*/
table.w3-table-all td>h1{
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: var(--primaryComp);
    padding: 10px;
    border: 2px solid var(--primaryActive);
}

table.mi_userdet td{
    padding: 10px;
    font-size: .8rem;
    line-height: 1.2rem;
    border: 2px solid var(--primaryActive);
}
table.mi_userdet{
    margin-left: 10px;
    background-color: var(--complement);
    border: none;
}

td.notetext{
    padding: 20px;
    background-color: var(--complementMed);
}
table:not(.mi_userdet){
    margin: 20px;
    width: 96%;
}
table.datadisp td{
    padding: 5px;
}

TABLE.ctx_table{
    border:unset;
    max-width: 400px;
}

.mbbot table td.ie_process, .mbbot table td.ie_process_desc,
table.ctx_table td
{
    border-bottom: 1px dotted var(--complementHigh);
}

td.ctx_colhdr{
    width: 150px;
}

table.rltable{
    margin-top: 0;
}
table.rltable tr.rlheader td{
    padding-left: 5px;
}
table.rltable tr.rlheader{
    background-color: var(--primaryComp);
    height: 30px;
    vertical-align: middle;
    font-family: 'robotoCondense';
    font-size: 1.1rem;
    font-weight: 600;
}
/*Forms and controls*/
form[name="qrycrit"]>table.datadisp{
    width: 300px;
    margin: auto;
}

form[name="qrycrit"]{
    text-align: center;
}
.form-select:focus{
    border-color: var(--primaryComp) !important;
    outline: 0 !important;
    box-shadow: 0 0 0.5rem 0.25rem rgb(11 96 60 / 40%) !important;
}

.ie_process_desc{
    padding: 2px 10px;
}


/*Overriding Boostrap styles*/
.btn-primary {
    background-color: var(--primaryActive) !important;
    border-color: var(--primaryActive) !important;
    filter: drop-shadow(4px 4px 4px var(--highlighted));
}
.btn-primary:hover {
    background-color: var(--primaryComp) !important;
    color: var(--primaryHigh) !important;
    font-weight: 600 !important;
    border: 1px solid var(--primaryColor) !important;
}
.btn-right{
    float:right;
    margin-right: 100px;
}
