/*Defining colors and spaces in variables*/
:root {
    /*--primaryColor: #1b72b6*/
    --primaryColor: #0b603c;
    --primaryComp: #dffff2;
    --txtPrimaryMatch: #c2e3d6;
    --primaryActive: #2c7759;
    --primaryHigh: #094f34;
}

@font-face {
    font-family: robotoCondense;
    src: url('/assets/fonts/RobotoCondensed-Regular.ttf');
}

/*===Custom colors===*/
body {
    background-color: unset !important;
}

a, a:link, a:visited {
    color: var(--txtPrimaryMatch) !important;
}

.col-sm-12 img {
    filter: invert(1) opacity(0.7);
}

.menuLvlM1:hover, .menuLvlM2:hover, .menuLvlM3:hover, .menuLvlM4:hover, .menuLvlM5:hover, .menuLvlU1:hover, .menuLvlU2:hover, .menuLvlU3:hover, .menuLvlU4:hover, .menuLvlU5:hover {
    background-color: var(--primaryActive) !important;
}

.w3-blue {
    background-color: var(--primaryHigh) !important;
}

body > .w3-tag:last-of-type .w3-tag {
    background-color: var(--primaryComp) !important;
    color: var(--primaryColor) !important;
    font-weight: 600;
}

    body > .w3-tag:last-of-type .w3-tag:hover {
        background-color: var(--primaryHigh) !important;
        color: var(--txtPrimaryMatch) !important;
    }
/*=== text fixes ===*/

a:link, a:visited {
    font-family: robotoCondense !important;
}

.w3-border {
    width: 100% !important;
}

/* === Margin and paddings ==== */

.menuLvlM1, .menuLvlU2, .menuLvlM2, menuId0 {
    padding: 5px !important;
}

.col-sm-12 {
    margin: 20px 0 10px 0;
}

    .col-sm-12 > * {
        margin-top: 12px !important;
    }

.w3-blue {
    display: block;
    width: 150px;
    padding: 5px !important;
    margin: auto;
}

.menuLvlM1:hover, .menuLvlM2:hover, .menuLvlM3:hover, .menuLvlM4:hover, .menuLvlM5:hover, .menuLvlU1:hover, .menuLvlU2:hover, .menuLvlU3:hover, .menuLvlU4:hover, .menuLvlU5:hover {
    border-radius: 6px;
    text-decoration: none;
}

body > .w3-tag:last-of-type {
    float: right;
    margin: 20px 10px;
}

body > .w3-tag:first-of-type {
    position: fixed;
    /**bottom: 100px;
    width: 90%;
    left: 25px;*/

    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
}
